@model IEnumerable<MessagesApp.Models.myMessage>

@{
    ViewData["Title"] = "Index";
}

<h1>HL7 Messages</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.msg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JSONmsg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.msgTrimmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JSONmsgTrimmed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-action="SendToQueue" asp-route-id="@item.ID">Send To Queue</a>
            </td>
        </tr>
}
    </tbody>
</table>
